---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro 3">
  <div class="section section-with-bg bg-light-grey">
    <div class="container">
      <div class="section-header section-header--lg">
        <span class="section-header__overline text-darkorange"
          >Our Expertise</span
        >
        <h1 class="">The Field On Wich We Give Services</h1>
        <span class="divider"></span>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          vulputate, dui quis semper consequat, tellus augue fringilla orci, non
          fermentum neque nunc id nibh.
        </p>
      </div>
      <div class="around-boxes">
        <div class="box-alignment bg-grey">
          <div class="vertical-text-bar bg-white">
            <span>Commercial Electrical</span>
          </div>
          <div class="icon-box bg-white">ICON</div>
        </div>
        <div class="box-alignment bg-grey">
          <div class="vertical-text-bar bg-white">
            <span>Industrial Electrical</span>
          </div>
          <div class="icon-box bg-white">ICON</div>
        </div>
        <div class="box-alignment bg-grey">
          <div class="vertical-text-bar bg-white">
            <span>Residential Electrical</span>
          </div>
          <div class="icon-box bg-white">ICON</div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-with-bg bg-blue-cc">
    <div class="container container-wrap">
      <div class="more-boxes">
        <span class="title-orange orange">Our Service</span>
        <h1 class="h1-text white i-style">24/7 Electrician Services</h1>
        <p class="white-text-width light-grey">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in
          eleifend augue. Pellentesque dapibus odio non fermentum.
        </p>
        <span class="title-underline orange h-style">Read More</span>
      </div>
      <div class="more-boxes border-white">
        <div class="icon-installation bg-white">ICON</div>
        <h3 class="h3-text white headline-style">Electric Installation</h3>
        <p class="white-text light-grey">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>
      <div class="more-boxes border-white">
        <div class="icon-installation bg-white">ICON</div>
        <h3 class="h3-text white headline-style">Electrical Repair</h3>
        <p class="white-text light-grey">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>
      <div class="more-boxes border-white">
        <div class="icon-installation bg-white">ICON</div>
        <h3 class="h3-text white headline-style">Surge Protection</h3>
        <p class="white-text light-grey">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>
      <div class="more-boxes border-white">
        <div class="icon-installation bg-white">ICON</div>
        <h3 class="h3-text white headline-style">Switchboard Upgrade</h3>
        <p class="white-text light-grey">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>
      <div class="more-boxes border-white">
        <div class="icon-installation bg-white">ICON</div>
        <h3 class="h3-text white headline-style">
          Electrical Safety Assesment
        </h3>
        <p class="white-text light-grey">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>
    </div>
  </div>

  <div class="section section-with-bg">
    <div class="container container-with-vertical-margin container-around">
      <div class="container-void bg-light-grey">
        <div class="small-review-box bg-blue">
          <span class="small-box-icon bg-light-grey">ICON</span>
          <span class="small-box-number white i-style small-box-number-position"
            >4.9</span
          >
          <p class="small-box-text light-grey p-style">Reviews</p>
        </div>
      </div>
      <div class="project-container bg-white">
        <span class="title-from-left orange">Our Projects</span>
        <h1 class="h1-from-left blue i-style">Featured Works</h1>
        <p class="rework-text grey p-style">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          vulputate, dui quis semper consequat, tellus augue fringilla orci, non
          fermentum neque.
        </p>

        <div class="container-with-four-items">
          <div class="project-box-residential">
            <p class="featured-works-numbers blue headline-style">5000+</p>
            <p class="residential-text grey p-style">Residential Electric</p>
          </div>
          <div class="project-box-commercial">
            <p class="featured-works-numbers blue headline-style">3808+</p>
            <p class="commercial-text grey p-style">Commercial Electric</p>
          </div>
          <div class="project-box-industrial">
            <p class="featured-works-numbers blue headline-style">1700+</p>
            <p class="industrial-text grey p-style">Industrial Electric</p>
          </div>
          <div class="project-box-happy">
            <p class="featured-works-numbers blue headline-style">10200+</p>
            <p class="happy-text grey p-style">Happy Client</p>
          </div>
        </div>
        <button class="button white bg-orange h-style">All Project -></button>
      </div>
    </div>

    <div class="around-the-dark-blue">
      <div class="bg-dark-blue">
        <span class="logos-in-dark-blue bg-white">LOGOIPSUM</span>
        <span class="logos-in-dark-blue bg-white">LOGOIPSUM</span>
        <span class="logos-in-dark-blue bg-white">LOGOIPSUM</span>
        <span class="logos-in-dark-blue bg-white">LOGOIPSUM</span>
      </div>
    </div>
  </div>
  <div class="section bg-light-grey">
    <div class="container container-with-vertical-margin">
      <div class="container-test">
        <div class="container-for-title-h1">
          <span class="title-from-left p-style orange">Why Choose Us</span>
          <h1 class="h1-experience blue i-style">
            Experience Makes Us Confident
          </h1>

          <div class="container-around-alignment-exp">
            <div class="container-alignment-exp-left">
              <span class="txt-exp h-style">ICON / 15+ EXPERIENCE</span>
              <p class="lorem-exp grey p-style">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <span class="txt-exp h-style">ICON / ELECTRICIAN LICENSED</span>
              <p class="lorem-exp grey p-style">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
            <div class="container-alignment-exp-right">
              <p class="text-inside-experience grey p-style">
                Cras aliquet metus ut mattis euismod. Etiam non congue ligula.
                In tincidunt ipsum mollis libero pulvinar blandit. Sed lacinia
                odio at enim dictum faucibus. Integer faucibus mauris ac diam
                mollis, quis consectetur nunc commodo. Sed cursus massa in odio
                pretium ornare.
              </p>
            </div>
          </div>
        </div>
        <div class="container-with-four-elements">
          <div class="rectangle-residential bg-blue">
            <span class="rr-number white r-style">5000+</span>
            <p class="rr-txt light-grey p-style">Residential Electric</p>
          </div>
          <div class="rectangle-residential bg-blue">
            <span class="rr-number white r-style">1700+</span>
            <p class="rr-txt light-grey p-style">Industrial Electric</p>
          </div>
          <div class="rectangle-residential bg-blue">
            <span class="rr-number white r-style">3800+</span>
            <p class="rr-txt light-grey p-style">Commercial Electric</p>
          </div>
          <div class="rectangle-residential bg-blue">
            <span class="rr-number white r-style">10200+</span>
            <p class="rr-txt light-grey p-style">Happy Client</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-bg-pricing">
    <div class="container">
      <div class="section-header">
        <span class="title-orange-pricing orange">Pricing Plans</span>
        <h1 class="h1-width i-style">Choose The Best Pricing Plans</h1>
        <p class="text grey">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          vulputate, dui quis semper consequat, tellus augue fringilla orci, non
          fermentum neque nunc id nibh.
        </p>
      </div>

      <div class="commercial-card-alignment">
        <div class="commercial-card">
          <div class="alignment-in-card">
            <span class="icon-card">ICON</span>
            <h1 class="card-h1 blue headline-style">Commercial Electrical</h1>
            <span class="title-orange-under orange h-style"
              >Omare sit amet eit</span
            >
            <p class="cards-txt max-width grey p-style">Start From</p>
            <p class="price-orange orange r-style">$40</p>
            <p class="cards-txt max-width grey p-style">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo
            </p>
            <p>
              <button
                class="card-button card-button-txt bg-orange h-style white"
                >Contact Us</button
              >
            </p>
            <p class="cards-txt-bottom max-width grey p-style">
              *Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus.
            </p>
          </div>
        </div>

        <div class="commercial-card bg-blue">
          <div class="alignment-in-card">
            <span class="icon-card">ICON</span>
            <h1 class="card-h1-blue white headline-style">
              Industrial Electrical
            </h1>
            <span class="title-orange-under orange h-style"
              >Omare sit amet eit</span
            >
            <p class="cards-txt-white max-width white p-style">Start From</p>
            <p class="price-orange orange r-style">$40</p>
            <p class="cards-txt-white max-width white p-style">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo
            </p>
            <p>
              <button
                class="card-button card-button-txt white bg-orange h-style"
                >Contact Us</button
              >
            </p>
            <p class="cards-txt-white-bottom max-width white p-style">
              *Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus.
            </p>
          </div>
        </div>

        <div class="commercial-card">
          <div class="alignment-in-card">
            <span class="icon-card">ICON</span>
            <h1 class="card-h1 blue headline-style">Residential Electrical</h1>
            <span class="title-orange-under h-style orange"
              >Omare sit amet eit</span
            >
            <p class="cards-txt max-width grey p-style">Start From</p>
            <p class="price-orange orange r-style">$40</p>
            <p class="cards-txt max-width grey p-style">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo
            </p>
            <p>
              <button
                class="card-button card-button-txt bg-orange white h-style"
                >Contact Us</button
              >
            </p>
            <p class="cards-txt-bottom max-width grey p-style">
              *Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  body {
    font-size: 16px;
    font-family: "Times New Roman", serif;
    font-weight: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    font-weight: bold;
  }

  h1 {
    font-size: 48px;
  }

  .divider {
    display: block;
    height: 1px;
    width: 100px;
    background: black;
    margin: 24px auto;
  }

  .section-header {
    margin-bottom: 32px;
  }

  .box {
    padding: 48px;
  }

  .box--dark {
  }

  .section-header.section-header--centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
  }

  .section-header h1,
  .section-header h2 {
    margin-bottom: 16px;
    color: darkblue;
  }

  .section-header.section-header--lg h1,
  .section-header.section-header--lg h2 {
    font-size: 64px;
  }

  .section-header.section-header--contrast {
    color: white;
  }

  .section-header .section-header__overline {
    color: darkorange;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }

  .section-header p {
    font-size: 18px;
    line-height: 24px;
  }

  .pricing-box {
  }

  .pricing-box.pricing-box--main {
    color: white;
    background-color: darkblue;
  }

  .display-flex {
    display: flex;
  }
  .max-width {
    max-width: 300px;
  }
  .h1-width,
  .h1-experience,
  .h1-from-left,
  .white-text {
    margin-top: 8px;
  }
  .r-style {
    font-family: Droid Sans serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .headline-style {
    font-family: Poppins serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .h-style {
    font-family: Inter serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  .p-style {
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .i-style {
    font-family: Droid Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .h1-width {
    text-align: center;
    line-height: normal;
    margin-bottom: 24px;
  }
  .text {
    text-align: center;
    font-family: Inter, serif;
    line-height: 24px;
    margin: 16px 16px 30px;
  }
  .cards-txt-bottom {
    margin-bottom: 32px;
  }
  .alignment-in-card {
    gap: 24px;
    flex-direction: column;
    align-items: center;
  }
  .container-test {
    flex-direction: row;
  }
  .title-orange-pricing {
    justify-content: center;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 16px;
    margin-left: 16px;
  }
  .section-bg-pricing {
    margin-top: 168px;
    margin-bottom: 168px;
  }
  .featured-works-numbers {
    line-height: 119.5%;
  }
  .small-box-number-position {
    position: absolute;
    top: 45px;
    left: 150px;
  }
  .container-around-alignment-exp {
    width: 85%;
    gap: 100px;
  }
  .logos-in-dark-blue {
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 94px;
  }
  .around-the-dark-blue {
    justify-content: center;
  }
  .card-h1-blue {
    text-align: center;
    font-family: Poppins serif;
    line-height: 119.5%;
  }
  .cards-txt-white-bottom {
    margin-bottom: 32px;
  }
  .title-orange-under {
    text-align: center;
  }
  .icon-card {
    display: block;
    margin-top: 50px;
    width: 72px;
    height: 66px;
  }
  .card-h1 {
    text-align: center;
    font-family: Poppins serif;
    line-height: 119.5%;
  }
  .commercial-card-alignment {
    gap: 30px;
  }
  .commercial-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial serif;
    width: calc(33.3333%);
  }
  .price-orange {
    text-align: center;
  }
  .card-button-txt {
    line-height: 100%;
  }
  .card-button {
    width: 152px;
    height: 49px;
  }
  .lorem-exp {
    margin-bottom: 30px;
    margin-top: 12px;
  }
  .txt-exp {
    color: #000;
    line-height: normal;
    text-transform: uppercase;
  }
  .container-with-four-elements {
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 30px;
    width: 130%;
  }
  .rectangle-residential {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
  }
  .container-around-exp {
    flex-flow: column wrap;
  }
  .container-alignment-exp-left,
  .container-alignment-exp-right {
    width: 50%;
  }

  .h1-experience {
    margin-bottom: 36px;
    max-width: 460px;
    line-height: normal;
  }
  .button {
    margin-top: 32px;
    line-height: 100%;
    width: 184px;
    height: 48px;
  }
  .project-container {
    width: 50%;
  }
  .project-box-residential,
  .project-box-commercial,
  .project-box-industrial,
  .project-box-happy {
    width: calc(50% - 15px);
  }
  .container-with-four-items {
    margin-top: 16px;
    flex-flow: row wrap;
    gap: 30px 30px;
  }
  .h1-from-left {
    width: 50%;
    line-height: normal;
  }
  .rework-text {
    width: 80%;
    margin-top: 16px;
    opacity: 80%;
  }
  .title-from-left {
    font-family: Poppins, serif;
  }
  .small-review-box {
    position: absolute;
    right: 10px;
    bottom: -14px;
    width: 35%;
    height: 43%;
  }
  .small-box-text {
    position: absolute;
    left: 150px;
    bottom: 35px;
    text-align: center;
  }
  .small-box-number {
    text-align: center;
    line-height: normal;
  }
  .small-box-icon {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 108px;
    height: 102px;
  }
  .container-around {
    display: flex;
    gap: 100px;
  }
  .container-void {
    position: relative;
    width: 50%;
  }
  .border-white {
    border: solid 1px white;
  }
  .container-wrap {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
  }
  .white-text-width {
    margin-left: 16px;
    margin-bottom: 56px;
  }
  .white-text {
    width: 60%;
    margin-left: 40px;
    margin-bottom: 32px;
  }
  .icon-installation {
    margin-top: 40px;
    margin-left: 40px;
    width: 74px;
    height: 75px;
  }
  .more-boxes {
    width: calc(33.3333% - 24px);
  }
  .title-underline {
    line-height: 100%;
    margin-left: 16px;
    text-decoration: underline;
  }
  .h1-text {
    margin-left: 16px;
    margin-bottom: 40px;
    margin-top: 16px;
  }
  .h3-text {
    margin-top: 56px;
    font-family: Poppins, serif;
    line-height: 119.5%;
    margin-left: 40px;
  }
  .icon-link {
    width: 26px;
    height: 29px;
  }
  .icon-box {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 16px;
  }
  .vertical-text-bar {
    position: absolute;
    top: 45px;
    padding: 12px 32px;
  }
  .around-boxes {
    display: flex;
    gap: 32px;
  }
  .section {
    padding: 1px 24px;
  }
  .orange {
    color: orange;
  }
  .bg-orange {
    background-color: orange;
  }
  .white {
    color: #ffffff;
  }
  .bg-white {
    background-color: #ffffff;
  }
  .bg-light-grey {
    background-color: #dbdbdb;
  }
  .light-grey {
    color: #dbdbdb;
  }
  .grey {
    color: #7e7e7e;
  }
  .bg-grey {
    background-color: grey;
  }
  .blue {
    color: #003049;
  }
  .bg-blue-cc {
    background-color: #003049cc;
  }
  .bg-blue {
    background-color: #003049;
  }
  .bg-dark-blue {
    display: flex;
    align-items: center;
    background-color: #003049;
    height: 360px;
    gap: 30px;
  }
  .section-with-bg {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .section-header,
  .container {
    margin-right: auto;
    margin-left: auto;
  }
  .section-header {
    max-width: 768px;
  }
  .container {
    max-width: 1440px;
  }
  .container-alignment-flex {
    display: flex;
    flex-direction: column;
  }
  .container-with-vertical-margin {
    margin-top: 128px;
    margin-bottom: 128px;
  }
  .container-with-vertical-margin-lg {
    margin-top: 196px;
    margin-bottom: 196px;
  }
  .title-orange-first {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 16px;
  }
  .title-orange {
    text-align: center;
    font-family: Poppins, serif;
    font-size: 16px;
    margin-left: 16px;
  }
  .box-alignment {
    display: inline-block;
    width: 33.3333%;
    position: relative;
    aspect-ratio: 1 / 1;
  }
</style>
