---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title ="Welcome to my Portfolio">

<div class="container">
    <header>
        <h1>Welcome to my Portfolio</h1>
    </header>



</div>



</Layout>







<style>

    * {
       // box-sizing: border-box;
    }

    .container{

    }

    .h1 {

    }

</style>